@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles  */
.muted-color {
    color: #848199;
}

.fw-700 {
    font-weight: 700;
}

.font-family-poppins {
    font-family: 'Poppins', sans-serif;
}

.navbar-text {
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.slider-btn {
    color: #0d6efd;
    background-color: #fff;
}

.slider-btn:hover {
    color: #0d6efd;
    background-color: #0d6efd;
    color: white;
}


.all-cards-margin {
    margin-top: 75px;
}

.card h3, h2 {
    color: #231D4F;
}

.card-btn-bg {
    background-color: #ffe8f7;
}

.card-btn-bg-highlight {
    background-color: #ffffff;
}

.card-btn-color {
    color: #3F87F5;
}

.card-size {
    width: 280px;
    height: 440px;
}

.card-extra {
    position: relative;
    background-color: #3F87F5;
    height: 450px;
    left: 0px;
    bottom: 57px;
    border-radius: 26px !important;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.bg-budge {
    background-color: #FF4E4E;
}

.border-radius-24px {
    border-radius: 24px;
}

.footer-anchor {
    width: 318px;
    height: 123px;
}

.footer-right-div {
    margin-left: 380px;
}


.app-image {
    width: 175px;
}

.google-image {
    width: 200px;

}

.feature-section {
    background-color: #00112B;
}


.toast-offer {
    position: absolute;
    right: 30px;
    width: auto;
}